h1 {
  text-align: center;
  color: #037bfc;
  font-family: oswald, helvetica, arial, sans-serif;
  font-size: 32pt;
  text-decoration: underline;
}

.topnav{
    background: rgba(53, 59, 64, 0.5);
    overflow: hidden;
    position: fixed; 
    top: 0; 
    width: 100%; 
    
    
}

.topnav a{
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 5px;
    padding-top: 15px;
    padding-right:10px;
    font-size:16px;
    text-decoration:none;
    
}

.topnav a:hover {
  background-color: #ffffff;
  color: blue;
}




h3 {
  text-align: center;
  
}

p {
    padding: 100px 50px;
    margin: 100px;
    border-style: solid;
    border-color: blue;
    border-width: 5px;
    

}

table{
border-style: dashed;
border-width: 2px;
border-color:red;
padding: 20px;

}
